<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="InputFolder" value="InputFolderValue" />
    <add key="OutputFolder" value="OutputFolderValue" />
    <add key="TableNameList" value="Table11,Table2,Table3" />
  </appSettings>
</configuration>